.underLine{
    display: flex;
    justify-content: space-between;
}

.newsButton{
    width: 200px; 
    height: 45px; 
    color: black; 
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    flex-shrink: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.aboutButton{
    width: 200px; 
    height: 45px; 
    color: black; 
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    flex-shrink: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.achvmText{
    width: 200px; 
    height: 45px; 
    color: black; 
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    flex-shrink: 0;
}

.applButton{
    width: 200px; 
    height: 45px; 
    color: black; 
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    flex-shrink: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.achvmButton{
    width: 200px; 
    height: 45px; 
    color: black; 
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    flex-shrink: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.lineHead{
    width: 100%; 
    height: 50px; 
    background: rgba(217, 73, 37, 1);
    flex-shrink: 0;
}

.Acamd{
    width: 323px; 
    height: 131px;
    margin-left: 1%;
    margin-right: 1%;
}





.main{
    width: 100%; 
    height: 100%; 
    position: relative
}

.imgMain{
    width: 170px; 
    height: 170px;
    position: absolute; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 100%;
}

.infoBlockMain{
    width: 550px; 
    height: 400px;
    position: absolute; 
    background: #B8B1B1; 
    border-radius: 50px;
}

.shadowBlockMain{
    width: 550px; 
    height: 400px;
    position: absolute; 
    opacity: 0.50; 
    background: black; 
    border-radius: 50px;
}

.toOther{
    text-decoration: none;
}